* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#title-text{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    
}
#title-text h2{
    margin: auto;
    font-size: 30px;
    color: #a445b2;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
#title-text h2::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#a445b2,#fff,#fa4299);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    
}
#title-text h1{
    font-size: 50px;
    color: #fa4299;
    text-shadow: 0 .3rem .5rem #fff;
}


html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(#f0b9f1,#fff), url(img1.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
}
.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}
.wrapper .title-text .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}

.form-container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
}
.slide-controls .slide{
    height: 100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}
.slide-controls .signup{
    color: #000;
}
.slide-controls .slide-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    background: linear-gradient(#a445b2, #fa4299);
}

input[type="radio"]{
    display: none;
}
#signup:checked ~ .slide-tab{
    left: 50%;
}
#signup:checked ~ .signup{
    color: #fff;
}
#signup:checked ~ .login{
    color: #000;
}

.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}
.form-inner form .field input:focus{
    border-color: #fc83bb;
}
.form-inner form .pass-link{
    margin-top: 5px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #fa4299;
    text-decoration: none;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 39px;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
form .field input[type="submit"]{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding-left: opx;
    border: none;
    background: linear-gradient( #fa4299, #a445b2);
}


.footer .credit{
    text-align: center;
    width: 100%;
    margin:0 auto;
    padding:1rem 0;
    border-top: .1rem solid rgba(0,0,0,.3);
    color: #a445b2;
    font-size:1rem;
}
.footer .credit span{
    color:#fa4299;
}